.formComponent {
  margin: 0 auto;
}
.ant-form-item-control-input {
  min-width: 150%;
  left: -80px;
}
.titleComponent {
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  color: #fea000;
}
@media only screen and (max-width: 900px) {
  .ant-typography {
    font-size: 2rem;
  }
  .display {
    display: none;
  }
  .ant-col-12 {
    width: 100%;
    display: block;
  }
}
